*{
    margin: 0px;
    padding: 0%;
}
:root{
    --cor0:#520A52;
    --cor1:#f1f1f1;
    --cor2:#D119D1;;
    --cor3:#522C52;
    --cor5:#A113A1;
}
header{
    background-image: linear-gradient(to bottom,var(--cor2),var(--cor5));
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--cor1)
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 450px;
}
form{
    font-family: Arial, Helvetica, sans-serif;
}
form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
form input{
    min-width: 250px;
    outline: none;
    padding: 20px;
    width: 300px;
    border:5px solid var(--cor1);
    border-radius: 30px;
}
#bnt{
    background-image: linear-gradient(to bottom,var(--cor2),var(--cor5));
}